In [1]:
from datasets import load_dataset
import pandas as pd

In [2]:
dataset = load_dataset("Open-Orca/SlimOrca-Dedup")
df = pd.DataFrame(dataset['train'])
df

                                            conversations
0       [{'from': 'system', 'value': 'You are an AI as...
1       [{'from': 'system', 'value': 'You are an AI as...
2       [{'from': 'system', 'value': 'You are an AI as...
3       [{'from': 'system', 'value': 'You are a helpfu...
4       [{'from': 'system', 'value': 'You are a helpfu...
...                                                   ...
363486  [{'from': 'system', 'value': 'You are an AI as...
363487  [{'from': 'system', 'value': 'You are an AI as...
363488  [{'from': 'system', 'value': 'You are an AI as...
363489  [{'from': 'system', 'value': 'You are an AI as...
363490  [{'from': 'system', 'value': 'You are an AI as...

[363491 rows x 1 columns]

In [3]:
def convert_to_str(conversation: list) -> str:
    results = []
    for entry in conversation:
        if entry["from"] == "system":
            continue
        else:
            results.append(entry["value"])
    return "\n\n".join(results).strip()

In [4]:
df["text"] = df["conversations"].apply(convert_to_str)
df.drop("conversations", axis=1, inplace=True)
df

                                                     text
0       Write an article based on this "A man has been...
1       Answer the following question: - number is 54 ...
2       Produce a long descriptive sentence that uses ...
3       Write a title for this article:\n\nArbitration...
4       Read the following paragraph and determine if ...
...                                                   ...
363486  Q: Context: Dragon Ball Z (ドラゴンボール ゼット, Dorago...
363487  My question is: At the beginning of an academi...
363488  Leo: Given the sentence "A small child in wate...
363489  Explain simply why yes is the correct answer t...
363490  **Q**\nIs the following sentence factually cor...

[363491 rows x 1 columns]

In [5]:
print(df.iloc[0]["text"])

Write an article based on this "A man has been charged with murder and attempted murder after a woman and the man she was on a date with were stabbed at a restaurant in Sydney, Australia."

Title: Tragedy Strikes in Sydney: Victims Stabbed during Dinner Date, Suspect Charged with Murder and Attempted Murder

Introduction

A seemingly ordinary evening took a tragic turn in Sydney, Australia when a romantic dinner date at a local restaurant ended in bloodshed, as a man allegedly attacked a couple, stabbing both victims. Local authorities have charged the suspect with murder and attempted murder in connection with the horrific crime. In this article, we delve into the chilling incident, the suspect, and the impact it has had on the community.

The Incident

The alarming event took place at a popular restaurant in Sydney, Australia. A woman and her date were enjoying their meal – blissfully unaware of the tragic circumstances that would soon unfold. As they shared conversation and indulged in their dinner, a man approached the couple and, without warning, began to stab them with a sharp object.

Patrons at the restaurant scrambled for safety, as the assailant continued his violent rampage. Bystanders quickly called emergency services, who promptly arrived at the scene. Although both victims were rushed to a nearby hospital, the woman succumbed to her injuries. The man she was on a date with remained in critical condition, fighting for his life.

The Suspect

Initial investigations revealed that the alleged attacker had no known connections to the victims – adding to the mystifying nature of this sudden and brutal assault. Witnesses reported that the assailant seemed to have no specific motive and appeared to carry out the act senselessly.

Following a thorough investigation, local police identified and arrested the suspect. During the process, it was discovered that the alleged attacker had a history of criminal behavior and a troubled past, though it is unclear if this played a role in the tragic incident.

Authorities have formally charged the man with murder and attempted murder in connection with the heinous crime. He awaits a hearing to determine a trial date and, if convicted, could face a life sentence in prison.

The Community's Response

The shocking nature of the crime has left the residents of Sydney reeling, as they struggle to come to terms with the harrowing event. The restaurant where the attack occurred has since been closed, with a makeshift memorial being created outside to commemorate the victims.

Many have questioned how such a vicious crime could happen in what is considered to be one of the safest cities in the world. This tragic event has spurred local officials to reassess current security measures and devise strategies to reinforce public safety. Additionally, discussions surrounding mental health and criminal rehabilitation have surfaced as residents seek to comprehend the actions of the alleged perpetrator and prevent similar incidents from occurring in the future.

In the wake of the stabbing, the community has banded together with an outpouring of grief and support for the victims and their families. Candlelight vigils have been held, and an online fundraising campaign is underway to assist the surviving victim with his medical expenses and recovery.

Conclusion

The tragic attack in Sydney serves as a chilling reminder that senseless acts of violence can happen anywhere and at any time. The community's response to this horrific and seemingly random act of brutality has been one of solidarity and determination to prevent such incidents in the future. As the case unfolds, the victims and their families remain in the hearts of the community, who are grieving the devastating loss of a life cut tragically short and supporting the recovering victim as he continues to endure this unimaginable ordeal.

In [6]:
# add uuid
from uuid import uuid4
df["uuid"] = df["text"].apply(lambda x: str(uuid4()))
df

,text,uuid
0,"Write an article based on this ""A man has been...",d2e7c46f-cd54-459d-824a-b7beac0da1a3
1,Answer the following question: - number is 54 ...,dafabcf7-caa7-4491-8f00-1fb817dbd4b4
2,Produce a long descriptive sentence that uses ...,dd1e9b91-feea-472c-9f65-2eda2d42c4c1
3,Write a title for this article:\n\nArbitration...,740923fb-5624-4f69-bcdc-874bb0800634
4,Read the following paragraph and determine if ...,fa18b94b-5cd7-443c-9394-83bc2c8f8051
...,...,...
363486,"Q: Context: Dragon Ball Z (ドラゴンボール ゼット, Dorago...",29dc880d-b8cf-481e-9916-84d475c32876
363487,My question is: At the beginning of an academi...,8b23b7df-fa3c-4e41-9fdf-5991583442f9
363488,"Leo: Given the sentence ""A small child in wate...",a1e1482f-a178-497b-b9d5-04f978de6feb
363489,Explain simply why yes is the correct answer t...,e233b119-9dec-4916-b3bf-bed41ec2272b
363490,**Q**\nIs the following sentence factually cor...,503e6434-8eac-4fee-9119-dbfbf969b209

In [7]:
import random
import string

def generate_random_character():
    return random.choice(string.ascii_lowercase)

# Example usage
print(generate_random_character())

w

In [8]:
import random
for i in range(100):
    df[f"category_{i}"] = pd.Series([generate_random_character() for _ in range(len(df))], dtype="category")
df

,text,uuid,category_0,category_1,category_2,category_3,category_4,category_5,category_6,category_7,...,category_90,category_91,category_92,category_93,category_94,category_95,category_96,category_97,category_98,category_99
0,"Write an article based on this ""A man has been...",d2e7c46f-cd54-459d-824a-b7beac0da1a3,y,r,w,v,s,m,j,o,...,h,j,c,s,m,h,x,w,w,v
1,Answer the following question: - number is 54 ...,dafabcf7-caa7-4491-8f00-1fb817dbd4b4,s,e,g,q,t,m,n,r,...,m,b,v,t,u,o,e,o,f,a
2,Produce a long descriptive sentence that uses ...,dd1e9b91-feea-472c-9f65-2eda2d42c4c1,a,r,c,g,v,l,d,f,...,l,o,m,q,y,h,b,h,v,u
3,Write a title for this article:\n\nArbitration...,740923fb-5624-4f69-bcdc-874bb0800634,v,u,c,x,u,g,d,e,...,x,u,m,y,l,t,a,r,j,k
4,Read the following paragraph and determine if ...,fa18b94b-5cd7-443c-9394-83bc2c8f8051,k,w,d,b,m,d,i,w,...,i,b,l,z,g,a,j,e,w,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363486,"Q: Context: Dragon Ball Z (ドラゴンボール ゼット, Dorago...",29dc880d-b8cf-481e-9916-84d475c32876,n,r,a,r,c,p,u,f,...,c,v,q,r,w,p,m,h,x,e
363487,My question is: At the beginning of an academi...,8b23b7df-fa3c-4e41-9fdf-5991583442f9,s,n,c,g,j,q,i,r,...,f,n,b,k,b,f,r,q,m,r
363488,"Leo: Given the sentence ""A small child in wate...",a1e1482f-a178-497b-b9d5-04f978de6feb,o,m,r,t,j,g,d,n,...,a,g,j,j,h,s,q,x,o,v
363489,Explain simply why yes is the correct answer t...,e233b119-9dec-4916-b3bf-bed41ec2272b,y,e,u,a,e,a,k,f,...,y,p,j,n,l,d,p,b,s,a
363490,**Q**\nIs the following sentence factually cor...,503e6434-8eac-4fee-9119-dbfbf969b209,d,w,k,f,r,o,d,e,...,z,a,a,g,g,e,q,h,f,l

In [9]:
df.columns

Index(['text', 'uuid', 'category_0', 'category_1', 'category_2', 'category_3',
       'category_4', 'category_5', 'category_6', 'category_7',
       ...
       'category_90', 'category_91', 'category_92', 'category_93',
       'category_94', 'category_95', 'category_96', 'category_97',
       'category_98', 'category_99'],
      dtype='object', length=102)

In [10]:
df = df.copy()

In [11]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363491 entries, 0 to 363490
Data columns (total 102 columns):
 #    Column       Dtype
---   ------       -----
 0    text         object
 1    uuid         object
 2    category_0   category
 3    category_1   category
 4    category_2   category
 5    category_3   category
 6    category_4   category
 7    category_5   category
 8    category_6   category
 9    category_7   category
 10   category_8   category
 11   category_9   category
 12   category_10  category
 13   category_11  category
 14   category_12  category
 15   category_13  category
 16   category_14  category
 17   category_15  category
 18   category_16  category
 19   category_17  category
 20   category_18  category
 21   category_19  category
 22   category_20  category
 23   category_21  category
 24   category_22  category
 25   category_23  category
 26   category_24  category
 27   category_25  category
 28   category_26  category
 29   category_27  category
 30   category_28  category
 31   category_29  category
 32   category_30  category
 33   category_31  category
 34   category_32  category
 35   category_33  category
 36   category_34  category
 37   category_35  category
 38   category_36  category
 39   category_37  category
 40   category_38  category
 41   category_39  category
 42   category_40  category
 43   category_41  category
 44   category_42  category
 45   category_43  category
 46   category_44  category
 47   category_45  category
 48   category_46  category
 49   category_47  category
 50   category_48  category
 51   category_49  category
 52   category_50  category
 53   category_51  category
 54   category_52  category
 55   category_53  category
 56   category_54  category
 57   category_55  category
 58   category_56  category
 59   category_57  category
 60   category_58  category
 61   category_59  category
 62   category_60  category
 63   category_61  category
 64   category_62  category
 65   category_63  category
 66   category_64  category
 67   category_65  category
 68   category_66  category
 69   category_67  category
 70   category_68  category
 71   category_69  category
 72   category_70  category
 73   category_71  category
 74   category_72  category
 75   category_73  category
 76   category_74  category
 77   category_75  category
 78   category_76  category
 79   category_77  category
 80   category_78  category
 81   category_79  category
 82   category_80  category
 83   category_81  category
 84   category_82  category
 85   category_83  category
 86   category_84  category
 87   category_85  category
 88   category_86  category
 89   category_87  category
 90   category_88  category
 91   category_89  category
 92   category_90  category
 93   category_91  category
 94   category_92  category
 95   category_93  category
 96   category_94  category
 97   category_95  category
 98   category_96  category
 99   category_97  category
 100  category_98  category
 101  category_99  category
dtypes: category(100), object(2)
memory usage: 40.3+ MB

In [12]:
df.to_pickle("./data/data_category.pkl.gz", compression="gzip")